div.nav-1 > nav > a {
    text-align: right;
}
div.imgs > img {
    width: 500px;
    height: 250px;
    margin: 30px auto 10px auto;
    display: block;
}
div.imgs {
height: 170px;
}
div.input-group.flex-nowrap {
width: 600px;
    margin: 35px auto 0 auto;
}
div.input-group.flex-nowrap > input.form-control {
    border-radius: 25px;
    border: 0;
    background-color: #E6E6E6;
}
div.row:nth-of-type(1) {
    margin: 50px auto 0 auto;
}

div.row:nth-of-type(2)  {
    margin: 40px auto;
}
div.card {
    display: block;
    border-style: none;

    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

div.card:hover {
    background: #E6E6E6;
}
div.card > img {
    width: 40px;
    height: 40px;
    margin: 25% auto;
    display: block;
}
div.card > p {
    text-align: center;
    vertical-align: bottom;
    font-family: 'Roboto', sans-serif;
}
div.containers {
     width: 500px;
     margin: auto;
     display: block;
 }
ul.nav.justify-content-end > li > a {
    font-family: 'Roboto', sans-serif;
    color: black;
}
ul.nav.justify-content-end {
    margin: 10px 30px 0 0;
}
ul.nav.justify-content-end > li > a > img {
    width: 20px;
    height: 20px;
}

